.home-produtos {
    flex-direction: column;
    overflow-y: scroll;
}

.home-produtos-corpo { 
    padding: 10px 20px;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* flex-direction: row; */
}

@media (max-width: 998px) {
    .home-produtos-corpo {
        flex-direction: column;
    }
    .home-produtos {
        flex-direction: column;
    }
}

.dialog-confirm{
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;    
}
.MuiPaper-root {
    width: 450px;
    height: 200px;
}
.dialog-confirm p {
    font-weight: 550;
    font-size: 22px;
}
.dialog-confirm button {
    width: 80px;
    height: 35px;
    margin-top: -20px;  
}
.btn-negative{
    background-color: black;
    color: #fff;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.btn-confirm {
    background-color: #ff0000;
    color: #fff;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    border-color: #ff0000;
    cursor: pointer;
    z-index: 1;
}